body {
    background: radial-gradient(rgb(122, 114, 114) 25%, #363535);
}
.opacity {
    filter: opacity(0.1);
}
.container {
    transition: .3s ease-out filter;
}
form {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    margin: 2em auto;
    box-shadow: 0 2px 20px -2px #999;
    transition: .3s ease-out filter;
}
.form {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    background-color: #fff;
}
.img-icon {
    width: 260px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #999;
    box-shadow: 0 0 20px -2px #999;
}
h2 {
    text-align: center;
}
.fbs {
    width: 50%;
    margin: 0 auto;
}
.fbs button {
    width: 100%;
}
.title-info {
    color: #fff;
}
.banner-icon {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 15px -2px #999;
}

.icon {
    display: inline;
    width: 1.2em;
}
form .button-container {
    margin: 0 auto;
    width: 50%;
}
.button-container button {
    width: 100%;
}
.overflow {
    display: none;
}
.img-admin {
    filter:grayscale(0.9);
}
.alert-msg,
.alert-msg-sucess,
.alert-msg-error {
    width: 30em;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 15em);
    transition: .3s ease transform;
    top: 50%;
}
.show {
    transform: scale(1);
}
.hidden {
    transform: scale(0);
}
.alert-msg-sucess {
    background-color: greenyellow;
}
.alert-msg-error {
    background-color: whitesmoke;
}
@media only screen and (max-width: 700px) {
    form {
        margin: 1em auto;
    }
    .my-form {
        flex-direction: column;
    }
    .my-form-add {
        flex-direction: column;
    }
    form .button-container {
        width: 80%;
    }
    .loginForm {
        width: 100%;
    }
    .img-icon {
        width: 160px;
    }
    
}
@media only screen and (max-width:950px) and (min-width:701px){
}
